    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-about wow fadeInUp">
                <h3>О нас</h3>
                <p>
                    <i> Этот сайт мы разработали специально для любителей и ценителей книг.</i>
                </p>
                <p>
                    <i>  Чтобы узнать больше 
                        <a class="scroll-link" href="#about-us">нажмите сюда</a>
                    </i>
                </p>
            </div>
            <div class="col-sm-4 footer-contact-info wow fadeInDown">
                <h3>Контактная информация</h3>
                <p><i class="fa fa-map-marker"> г. Бишкек </i></p>
                <p><i class="fa fa-phone">Телефон: (+996)700-31-31-31</i></p>
                <p><i class="fa fa-envelope"> E-mail: <a href="mailto:datka777888@gmail.com">dtk@gmail.com</a></i></p>
            </div>
            <div class="col-sm-4 footer-social wow fadeInUp">
                <h3>Мы в социальных сетях</h3>
                    <p><a href="https://www.facebook.com/"><i class="fa fa-facebook"> Facebook </i></a></p>
                    <p><a href="https://www.instagram.com/"><i class="fa fa-instagram"> Instagram </i></a></p>
                    <p><a href="https://vk.com/"><i class="fa fa-vk"> Вконтакте </i></a></p>
            </div>
        </div>
    </div>
</footer>